#canvas {
    position: absolute;
    z-index: 2;
    border-radius: 25px;
    box-shadow: 5px 5px 5px lightgray;
}

#canvas:hover {
    border: solid 3px salmon;
    -webkit-transform: rotateX(15deg);
    -moz-transform: rotateX(15deg);
    -ms-transform: rotateX(15deg);
    -o-transform: rotateX(15deg);
    transform: rotateX(15deg);
}

img {
    z-index: 1000;
    position: absolute;
}

video {
    display: none;
    position: absolute;
    top: 100px;
}

#content {
    /*border: double 1px blue;*/
    font-family: "华文行楷";
    font-size: 20px;
    color: red;
    width: 880px;
    position: absolute;
    top: 300px;
    left: 265px;
    text-align: center;
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    display: none;
}

#show{
    opacity: 1;
    position: absolute;
    z-index: 99999;
    width: 740px;
    height: 500px;
    background: white;
    color: black;
    left: 315px;
    top: 80px;
    display: none;
}

#showImg{
    z-index: 999999;
    width: 420px;
    height: 300px;
    top:60px;
    left:150px;
    position: relative;
}

#sentence{
    font-family: "华文行楷";
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: 100px;
    width: 500px;
    left: 110px;
}